*{
    background-image: url(../img/error404.jpeg);
    background-size:initial;
    background-attachment: fixed;
    font-size: 1.5cm;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    text-align: center;
    color: black;
    margin: auto;
    overflow: hidden;
}
.boton_personalizado{
    border:0;
    background: #0303fab9;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0303fab9;
    padding: 14px 10px;
    width: 700px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor:pointer;
    font-size: 25px;
    text-decoration: none;
  }
  .boton_personalizado:hover{
	background-color:#fafe02cb;
    color: #0303fab9;
}